{% extends 'Exercise/base.html' %}


{% block navbar %}

    <nav id = 'home-nav' class='nav'>
        <div class="links-and-logos">

            {% comment %} hamburger and logo {% endcomment %}
            <div class="ham-logo-container">
                <div class="ham">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
    
                <div class="logo">
                    <a href="/home">Fit-Fusion</a>
                </div>     
            </div>
            
            <ul class="side-menu">

                <li class="slider">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </li>
                <li class="side-menu-links">
                    <a>
                        <span class="material-symbols-outlined">home</span> 
                        <span class="link-text">Home</span>
                    </a>
                </li>
                <li class="side-menu-links">
                    <a href="/chat/">
                        <span class="material-symbols-outlined">chat</span>
                        <span class="link-text">Message</span>
                    </a>
                </li>
                <li class="side-menu-links active">
                    <a href='/exercise/'>
                        <span class="material-symbols-outlined">exercise</span> 
                        <span class="link-text">Excercise</span>
                    </a>
                </li>
                <li class="side-menu-links">
                    <a href='/analytics/'>
                        <span class="material-symbols-outlined">insights</span>
                        <span class="link-text">Analytics</span>
                    </a>
                </li>
                <li class="side-menu-links">
                    <a href="#">
                        <span class="material-symbols-outlined">loyalty</span>
                        <span class="link-text">Subscription</span>
                    </a>
                </li>
                <li class="side-menu-links dead">
                    <a href="#">
                        <span class="material-symbols-outlined">book</span>
                        <span class="link-text">Book Session</span>
                    </a>
                </li>
            </ul>
        </div>
        {% comment %} user-icon to the right {% endcomment %}
        <div class="user-icon">
            <div class="about-me">
                <i class="fa-solid fa-angle-down"></i>
            </div>
            <img src="{{MEDIA_URL}}/one.png" alt="profile-pic">
            {% comment %} <div class="logout-form-container">
                <button>Log Out</button>
            </div> {% endcomment %}
        </div>
    </nav>

{% endblock navbar %}




{% block hero %}

    {% comment %} <ul class="side-menu">
        <li class="side-menu-links"><a  class= "active" href="/home/">Home</a></li>
        <li class="side-menu-links"><a href="/home/physical">Physical</a></li>
        <li class="side-menu-links"><a href="/home/mental">Mental </a></li>
        <li class="side-menu-links"><a href="/home/overview">Overview</a></li>
    </ul> {% endcomment %}

    <div class="main-content">
        <div class="main-content-inner">

            {% comment %} bichha ma dekhine content {% endcomment %}
            {% block main-content %}

            {% for title,author,date,content,support,report,comments in  posts%}
                <div class="post-container">
                    <div class="post-title">{{title}}</div>
                    <div class="post-info">
                        <p class="post-author">{{author}}</p>
                        <p class="post-date">{{date}}</p>
                    </div>
                    <div class="post-content">{{content}}</div>
                    <div class="post-buttons">
                        <ul>
                            <li><a href="#"> <i class="fa-regular fa-heart"></i> &nbsp; {{support}} </a></li>
                            <li><a href="#"> <i class="fa-regular fa-comment"></i> &nbsp; Comment</a></li>
                            <li><a href="#"> <i class="fa-sharp fa-regular fa-flag"></i>&nbsp; {{report}}</a></li>
                        </ul>
                    </div>
                </div>
            
            {% endfor %}

            <div class="user-and-bio">
                <div class="user-info">
                    <div class="cover-pic">
                        <img src="{{MEDIA_URL}}/{{user.image_url}}" alt="">
                    </div>
                    <div class="user-icon">
                        <img src="{{MEDIA_URL}}/{{user.image_url}}" alt="profile-pic">
                    </div>
                    <div class="user-details">
                        <p class="user-name">{{user.name}}</p>
                        <p class="bio">{{user.bio}}</p>
                    </div>
                    
                </div>
            </div>

            {% endblock main-content %}

            {% comment %} side ko user info wala card {% endcomment %}  
        </div>
        
    </div>

    
{% endblock hero %}