{% extends 'Exercise/base1.html' %}


{% block navbar %}

    <nav id = 'home-nav' class='nav'>
        <div class="links-and-logos">

            {% comment %} hamburger and logo {% endcomment %}
            <div class="ham-logo-container">
                <div class="ham">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
    
                <div class="logo">
                    <a href="/home">Fit-Fusion</a>
                </div>     
            </div>
            
            <ul class="side-menu">

                <li class="slider">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </li>
                <li class="side-menu-links">
                    <a>
                        <span class="material-symbols-outlined">home</span> 
                        <span class="link-text">Home</span>
                    </a>
                </li>
                <li class="side-menu-links">
                    <a href="/chat/">
                        <span class="material-symbols-outlined">chat</span>
                        <span class="link-text">Message</span>
                    </a>
                </li>
                <li class="side-menu-links">
                    <a>
                        <span class="material-symbols-outlined">exercise</span> 
                        <span class="link-text">Excercise</span>
                    </a>
                </li>
                <li class="side-menu-links">
                    <a>
                        <span class="material-symbols-outlined">book</span>
                        <span class="link-text">Book Session</span>
                    </a>
                </li>
                <li class="side-menu-links">
                    <a>
                        <span class="material-symbols-outlined">loyalty</span>
                        <span class="link-text">Subscription</span>
                    </a>
                </li>
                <li class="side-menu-links">
                    <a>
                        <span class="material-symbols-outlined">insights</span>
                        <span class="link-text">Analytics</span>
                    </a>
                </li>
            </ul>
        </div>
        {% comment %} user-icon to the right {% endcomment %}
        <div class="user-icon">
            <div class="about-me">
                <i class="fa-solid fa-angle-down"></i>
            </div>
            <img src="{{MEDIA_URL}}/one.png" alt="profile-pic">
            {% comment %} <div class="logout-form-container">
                <button>Log Out</button>
            </div> {% endcomment %}
        </div>
    </nav>

{% endblock navbar %}

{% block hero %}
    <div class="main-content">
        <div class="main-content-inner">
            {% block main-content %}
            {% endblock main-content %}
        </div>
        
    </div>
{% endblock hero %}