.side-menu-links a span .active{
    color: black;
}
.exercise-card{
    width: 15rem;
    border-radius: 1rem;
    box-shadow: 0 0 4px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
    overflow: hidden;
    flex-grow: 1;
    gap: 0.2rem;
}
.exercise-card.individual{
    flex-grow: 0;
}
.name{
    overflow: hidden;
    text-transform: capitalize;
    text-align: center;
    height: 3rem;
    background-color: var(--blue);
    color: black;
}

.name a{
    font-size: var(--prominent-size);
    line-height: 3rem;
}

.what-title{
    font-size: var(--normal-text);
}

.exercise-card div.body-part,
.exercise-card div.equipment,
.exercise-card div.target{
    font-size: var(--small-text);
    padding-left: 1rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.main-content-inner{
    width:75%;
    margin-left: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
@media screen and (max-width: 1392px){
    .main-content {
        margin-left: 0rem;
        width: 100%;
    }
    .main-content-inner{
        margin-left: 0rem;
    }
}

@media screen and (max-width: 992px){
    .main-content{
        width: 100%;
        margin-left: 7rem;
    }
}
@media screen and (max-width: 672px){
    .main-content{
        width: 100%;
        margin-left: 0rem;
    }

}
