.input_video{
  display: none;
}

.output_canvas{
  width: 50vw !important;
  /* height: 50vw !important; */
}
.control-panel{
  display: none;
}
.loading {
  display: none;
}
# p{
  display: none;
}
.main-content-inner .logo{
  display: none;
}
.side-menu-links a span .active{
  color: black;
}