{% extends "Users/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container content-section border border-primary-subtle mt-10">
    <form action="" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend class="border-bottom mb-4">Join Today</legend>
            {{ form|crispy }}
        </fieldset>
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
    </form>
    <div>
        <small>
            Already Have An Account? <a href="{% url 'login'%}">Sign In</a>
        </small>
    </div>
</div>
{% endblock content %}