{% extends "Users/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="register-form-container">
    <div class="signup-image">
        <img src={% static "images/sign-up.png"%} alt="">
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <button class="btn btn-outline-info" type="submit">Sign Up</button>
        <div>
            <small>
                Already Have An Account? <a href="{% url 'login'%}">Sign In</a>
            </small>
        </div>
    </form>
    </div>
</div>
<div class="container">
{% endblock content %}